{% extends "layout.html" %}

{% block head%}
    <title> Todos </title>
{% endblock%}

{% block body%}

    <header>
        <h2  class="text-center">
            <img src="{{url_for('static', filename='img/VS.png')}}">
            Todos
        </h2>
        <hr>
    </header>

    <main>
        <ul class="list-group list-group-flush">
            {% for todo, items in todos %}
            <li class="list-group-item">
                <a href="#" class="project_name">
                     {{ todo }}
                </a>
                <div class="container card bg-dark text-white border border-primary">
                    {{items}}
                </div>
            </li>
            {% endfor %}
        </ul>
    </main c>


    {% block javascript %}
        <script>
            let projects = document.querySelectorAll(".project_name");
            projects.forEach((project) => project.onclick = func(project.innerHTML));

            function func(project) {
                function call() {
                    let xml = new XMLHttpRequest();
                    xml.open("GET", `/call/${project}`);
                    xml.send();
                }
                return call;
            }
        </script>
    {% endblock%}

{% endblock%}